.example-card {
    max-width: 200px;
    height: 200px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    background-color: aqua;
  }
  
  .example-header-image {
    background-size: cover;
  }