<div class="container">
<mat-card  class="card">
  <mat-card-header class="header">
  <div class="row head">
     <div class="col-2 char-img">
      <div mat-card-avatar class="header-image">
        <img mat-card-image class="image" height="250" src="{{characterDetails?.images?.main}}" alt="character-photo" >
      </div>
    </div>
      <div class="col-10 details">
      <mat-card-title class="py-3">{{characterDetails?.name?.first}} {{characterDetails?.name?.middle}} {{characterDetails?.name?.last}}</mat-card-title>
      <mat-card-subtitle class="">
                      <h3> Gender : {{characterDetails?.gender}} </h3>
                      <h3> Species : {{characterDetails?.species}} </h3>
                      <h3> Home Planet : {{characterDetails?.homePlanet}} </h3>
                      <h3> Occupation : {{characterDetails?.occupation}}</h3>
                      </mat-card-subtitle>
    
    </div>
  </div>
</mat-card-header>
    <mat-divider></mat-divider>
    <mat-nav-list>
    <h2>Best Sayings of {{characterDetails?.name?.first}} : </h2>
    
      <mat-list-item *ngFor="let saying of characterDetails?.sayings">
         "{{saying}}"                     
      </mat-list-item>
  </mat-nav-list>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
</div>