.card{
    box-shadow: none;
    .head{
      //  flex-wrap: flex;
        width: inherit;
    }
    .header{ 
        width: 100%;
         height: 200px;
         margin-bottom: 40px;
         display: flex;
    .image{
         padding: 10px;
         width: 150px;
    }
  
}
}