<div class="container" *ngFor="let inf of info">
  <div class="row image mt-2">
    <img src="/assets/images/futurama-cast-homepage.jpg" alt="the show">
  </div>
    <div class="title mt-4 pt-4">
        <h1>
            <strong>Futurama</strong>
        </h1>
    </div>
  <div class="row synopsis-container mt-2">
      <div class="col-12">
         <h3> <p>{{inf.synopsis}}</p></h3>
        </div>
    
  </div>
 
  <div class="row creators d-flex ">
  <div class="col-9"></div>
  <div class="col-3"> 
  <div  class="d-flex"><h3>Creators :</h3></div>
  <a class="d-flex mr-2 creators" href="{{inf.creators[0]?.url}}"><h3>{{inf.creators[0]?.name}}</h3></a>
  <a class="d-flex mr-3 creators" href="{{inf.creators[1]?.url}}"><h3>{{inf.creators[1]?.name}}</h3></a> 
  </div>
 
</div> 
<div class="d-flex py-2"><h3 class="year">Year aired : {{inf?.yearsAired}}</h3></div>
</div>
<router-outlet></router-outlet>