.container{ 
    a{
    color :black;
    text-decoration: none;
    }
    a:hover {
      color: blue;
      } 

    .creators  {
        margin-left: 70px;
      }
    h3{
      margin: 0;
      padding: 0px;
    }
   
 } 
 .year{
      font-style: italic;
    }